@page
@model TodoApp.WebApplication.Pages.TodoItems.IndexModel

@{
    ViewData["Title"] = "ToDo List";
}

<h1>ToDo List</h1>

<p>
    <a asp-page="Create">Add new task</a>
</p>
<form>
    <p>
        Search in message: <input type="text" asp-for="SearchString" />
        Done: <select asp-for="TodoItemIsDone" asp-items="Model.IsDone">
            <option value="">All</option>
        </select>
        Items per page: <select asp-for="PageSize" asp-items="Model.PageSizeSelectList">
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodoItems[0].IsDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TodoItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                <a asp-page="./index"
                   asp-route-currentpage="@(Model.CurrentPage - 1)"
                   asp-route-searchString="@Model.SearchString"
                   asp-route-todoItemIsDone="@Model.TodoItemIsDone"
                   asp-route-pageSize="@Model.PageSize"
                   class="page-link">Previous</a>
            </li>
        }
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="./index"
                   asp-route-currentpage="@i"
                   asp-route-searchString="@Model.SearchString"
                   asp-route-todoItemIsDone="@Model.TodoItemIsDone"
                   asp-route-pageSize="@Model.PageSize"
                   class="page-link">@i</a>
            </li>
        }
        @if (Model.ShowNext)
        {
            <li class="page-item">
                <a asp-page="./index"
                   asp-route-currentpage="@(Model.CurrentPage + 1)"
                   asp-route-searchString="@Model.SearchString"
                   asp-route-todoItemIsDone="@Model.TodoItemIsDone"
                   asp-route-pageSize="@Model.PageSize"
                   class="page-link">Next</a>
            </li>
        }
    </ul>
</div>